@charset "utf-8";
/* CSS Document */

.input-field-border-bottom {
      border: 0px solid #ddd;
      display: inline-block;
      padding: 2em;
 }
 .input-field-border-bottom label {
      color: #9C1179;     /* Warna: Purple */
      display: block;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.05em;
      margin-bottom: 5px;
 }
 
 .input-field-border-bottom input[type="text"],

 .input-field-border-bottom textarea {
      border: none;
      border-bottom: 1px solid #ddd;
      color: #333;
      font-size: 17px;
      width: 300px;     /* Ukuran bebas */
 }
 
 .input-field-border-bottom input[type="text"]:focus,

 .input-field-border-bottom textarea:focus {
      border-bottom: 1px solid #000;
      outline: none;
 }

